
.icon-file-pdf:before { content: '\e800'; } /* '' */
.icon-file-word:before { content: '\e801'; } /* '' */
.icon-file-excel:before { content: '\e802'; } /* '' */
.icon-file-powerpoint:before { content: '\e803'; } /* '' */
.icon-file-web:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-file-xml:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-file:before { content: '\e808'; } /* '' */
.icon-file-text:before { content: '\e809'; } /* '' */
.icon-arrow-left:before { content: '\e80a'; } /* '' */
.icon-file-photo:before { content: '\e80b'; } /* '' */
.icon-arrow-up:before { content: '\e80c'; } /* '' */
.icon-journal:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e80e'; } /* '' */
.icon-author:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-remove:before { content: '\e811'; } /* '' */
.icon-file-email:before { content: '\e812'; } /* '' */
.icon-file-default:before { content: '\e813'; } /* '' */
.icon-case:before { content: '\e814'; } /* '' */
.icon-category:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */